{% extends "base.html" %} 

{% block content %} 

<form method="POST">
    <div class="card mb-3">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h5 class="mb-0">Create Unit</h5>
                </div>
            <div class="col-auto"></div>
            </div>
        </div>
        <div class="card-body bg-light border-top">
            <div class="row">
                <div class="col-lg col-xxl-5">
                    <div class="row">
                        <label class="col-5 col-sm-4 col-form-label" for="name">Name</label>
                        <div class="col">
                            <input class="form-control" type="text" name="name" id="name"/>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-5 col-sm-4 col-form-label" for="bedrooms">Bedrooms</label>
                        <div class="col">
                            <input class="form-control" type="number" min="0" name="bedrooms" id="bedrooms"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <label class="col-5 col-sm-4 col-form-label" for="bathrooms">Bathrooms</label>
                        <div class="col">
                            <input class="form-control" type="number" min="0" name="bathrooms" id="bathrooms"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-xxl-5 mt-4 mt-lg-0 offset-xxl-1">
                    <div class="row">
                        <label class="col-5 col-sm-4 col-form-label" for="sqft">SQ Feet</label>
                        <div class="col">
                            <input class="form-control" type="number" name="sqft" id="sqft"/>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-5 col-sm-4 col-form-label" for="rent">Monthly Rent</label>
                        <div class="col input-group">
                            <span class="input-group-text">$</span><input class="form-control" type="number" min="0" name="rent" id="rent" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer border-top text-end"><button type="submit" class="btn btn-falcon-default btn-sm ms-2" ><span class="fas fa-check fs--2 me-1"></span>Save changes</button></div>
    </div>
</form>

{% endblock %}