{% extends "base.html" %} 

{% block content %} 

<form method="POST" action="{{ url_for('lease.create', id=property) }}">
    {{ form.csrf_token }}
    <div class="card mb-3">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h5 class="mb-0">Create Lease</h5>
                </div>
            <div class="col-auto"></div>
            </div>
        </div>
        <div class="card-body bg-light border-top">
            <div class="row">
                <div class="col-lg col-xxl-5">
                    <div class="row">
                        {{ form.tenant.label }}
                        <div class="col">
                            {{ form.tenant(class="form-control")}}
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        {{ form.start.label }}
                        <div class="col">
                            {{ form.start(class="form-control") }}
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        {{ form.rent.label }}
                        <div class="col input-group">
                            <span class="input-group-text">$</span>{{ form.rent(class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="col-lg col-xxl-5 mt-4 mt-lg-0 offset-xxl-1">
                    <div class="row">
                        {{ form.unit.label }}
                        <div class="col">
                            {{ form.unit(class="form-control") }}
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        {{ form.end.label }}
                        <div class="col">
                            {{ form.end(class="form-control") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer border-top text-end"><button type="submit" class="btn btn-falcon-default btn-sm ms-2" ><span class="fas fa-check fs--2 me-1"></span>Save changes</button></div>
    </div>
</form>

{% endblock %}