<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    Document Title-->
    <title>Falcon | Real Estate Management</title>
    <!--    Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../static/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../static/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="../static/assets/js/config.js"></script>
    <script src="../static/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>
    <!--    Stylesheets-->
    <link href="../static/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="../static/vendors/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet">
    <link href="../static/assets/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="../static/assets/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="../static/assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="../static/assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>
  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark" data-navbar-darken-on-scroll="data-navbar-darken-on-scroll">
        <div class="container"><p class="navbar-brand" ><span class="text-white dark__text-white">Falcon</span></p>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse scrollbar" id="navbarStandard">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="#"><span class="d-none d-lg-inline-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dashboard"><span class="fas fa-chart-pie"></span></span><span class="d-lg-none">Dashboard</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#"><span class="d-none d-lg-inline-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Feed"><span class="fas fa-list-alt"></span></span><span class="d-lg-none">Feed</span></a></li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownLogin" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-card" aria-labelledby="navbarDropdownLogin">
                  <div class="card shadow-none navbar-card-login">
                    <div class="card-body fs--1 p-4 fw-normal">
                      <div class="row text-start justify-content-between align-items-center mb-2">
                        <div class="col-auto">
                          <h5 class="mb-0">Log in</h5>
                        </div>
                        <div class="col-auto">
                          <p class="fs--1 text-600 mb-0">or <a href="{{ url_for('auth.register') }}">Create an account</a></p>
                        </div>
                      </div>
                      <form method="POST" action="{{ url_for('auth.login') }}">
                        {{ login_form.csrf_token }}
                        <div class="mb-3">
                          {{ login_form.email(class="form-control", placeholder="Email address") }}
                        </div>
                        <div class="mb-3">
                          {{ login_form.password_hash(class="form-control", placeholder="Password" )}}
                        </div>
                        <div class="row flex-between-center">
                          <div class="col-auto">
                            <div class="form-check mb-0">
                              {{ login_form.remember_me(class="form-check-input") }}
                              {{ login_form.remember_me.label(class="form-check-label mb-0") }}
                            </div>
                          </div>
                          <div class="col-auto"><a class="fs--1" href="{{ url_for('auth.forgot') }}">Forgot Password?</a></div>
                        </div>
                        <div class="mb-3">
                          {{ login_form.login_submit(class="btn btn-primary d-block w-100 mt-3") }}
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0 overflow-hidden light" id="banner">
        <div class="bg-holder overlay" style="background-image:url(../static/assets/img/generic/bg-1.jpg);background-position: center bottom;">
        </div>
        <!--/.bg-holder-->
        <div class="container">
          <div class="row flex-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
            <div class="col-md-11 col-lg-8 col-xl-4 pb-7 pb-xl-9 text-center text-xl-start">
              <h1 class="text-white fw-light">Bring <span class="typed-text fw-bold" data-typed-text='["insights","design","analysis","a story"]'></span><br />to your portfolio</h1>
              <p class="lead text-white opacity-75">With the power of Falcon, you can now focus only on functionaries for growing your portfolio, while leaving the number crunching to us!</p><a class="btn btn-outline-light border-2 rounded-pill btn-lg mt-4 fs-0 py-2" href="#!">Start building with the falcon<span class="fas fa-play ms-2" data-fa-transform="shrink-6 down-1"></span></a>
            </div>
            <div class="col-xl-7 offset-xl-1 align-self-end mt-4 mt-xl-0"><a class="img-landing-banner rounded" href="#"><img class="img-fluid" src="../static/assets/img/generic/dashboard-alt.jpg" alt="" /></a></div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- <section> close ============================-->
      <!-- <section> begin ============================-->
      <section>
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
              <h1 class="fs-2 fs-sm-4 fs-md-5">Your Portfolio Gatekeeper</h1>
              <p class="lead">Extensive data templates that won't let any dollar go unnoticed. Dashboards that give a birds eye view of your entire portfolio.</p>
            </div>
          </div>
          <div class="row flex-center mt-8">
            <div class="col-md col-lg-5 col-xl-4 ps-lg-6"><img class="img-fluid px-6 px-md-0" src="../static/assets/img/icons/spot-illustrations/48.png" alt="" /></div>
            <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
              <h5 class="text-danger"><span class="far fa-lightbulb me-2"></span>PLAN</h5>
              <h3>Data &amp; Insights </h3>
              <p>With Falcon as your guide, now you have a fine-tuned state of the art reporting tool to make business driving decisions.</p>
            </div>
          </div>
          <div class="row flex-center mt-7">
            <div class="col-md col-lg-5 col-xl-4 pe-lg-6 order-md-2"><img class="img-fluid px-6 px-md-0" src="../static/assets/img/icons/spot-illustrations/21.png" alt="" /></div>
            <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
              <h5 class="text-info"> <span class="far fa-object-ungroup me-2"></span>BUILD</h5>
              <h3>Detail &amp; Customization</h3>
              <p>Build any Portfolio effortlessly with Falcon's robust set of layouts, countless sets of built-in property templates, carefully chosen property types, lease types, and ownership.</p>
            </div>
          </div>
          <div class="row flex-center mt-7">
            <div class="col-md col-lg-5 col-xl-4 ps-lg-6"><img class="img-fluid px-6 px-md-0" src="../static/assets/img/icons/spot-illustrations/48.png" alt="" /></div>
            <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
              <h5 class="text-success"><span class="far fa-paper-plane me-2"></span>GROW</h5>
              <h3>Review &amp; Act</h3>
              <p>From Chrome to iOS, rigorously tested and optimized Falcon will give the near perfect finishing to your user experience; from the dashboards to the reports for any landlord.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- <section> close ============================-->
      <!-- <section> begin ============================-->
      <section class="bg-light text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="fs-2 fs-sm-4 fs-md-5">Here's what's in it for you</h1>
              <p class="lead">Things you will get right out of the box with Falcon.</p>
            </div>
          </div>
          <div class="row mt-6">
            <div class="col-lg-4">
              <div class="card card-span h-100">
                <div class="card-span-img"><span class="fas fa-chart-pie fs-4 text-info"></span></div>
                <div class="card-body pt-6 pb-4">
                  <h5 class="mb-2">Dashboards &amp; Reports</h5>
                  <p>Build your own reports or use one of our many report templates that will give you insights to all of your properties.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-6 mt-lg-0">
              <div class="card card-span h-100">
                <div class="card-span-img"><span class="fas fa-building fs-5 text-success"></span></div>
                <div class="card-body pt-6 pb-4">
                  <h5 class="mb-2">Property &amp; Tenant</h5>
                  <p>With your purchased copy of Falcon, you will get property and tenant management and free background checks. </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-6 mt-lg-0">
              <div class="card card-span h-100">
                <div class="card-span-img"><span class="fas fa-paper-plane fs-6 text-danger"></span></div>
                <div class="card-body pt-6 pb-4">
                  <h5 class="mb-2">Automated workflows</h5>
                  <p>All the painful or time-consuming tasks in your workflow such as notifying tenants of late payments are automated.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section> close ============================-->
      <!-- <section> begin ============================-->
      <section class="bg-200 text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
              <div class="swiper-container theme-slider" data-swiper='{"autoplay":true,"spaceBetween":5,"loop":true,"loopedSlides":5,"slideToClickedSlide":true}'>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="px-5 px-sm-6">
                      <p class="fs-sm-1 fs-md-2 fst-italic text-dark">Falcon is the best option if you are looking for insights to your portfolio. On top of that, Falcon&apos;s creators and support staff are very brilliant and attentive to users&apos; needs.</p>
                      <p class="fs-0 text-600">- Scott Tolinski</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="px-5 px-sm-6">
                      <p class="fs-sm-1 fs-md-2 fst-italic text-dark">Easy to read monthly reports, great autmoation, enterprise-class support, fast loading time. What else do you want from a Real Estate Management Portfolio?</p>
                      <p class="fs-0 text-600">- Jeff Escalante</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="px-5 px-sm-6">
                      <p class="fs-sm-1 fs-md-2 fst-italic text-dark">I was totally blown away by the care taken in the interface. It felt like something that I&apos;d really want to use.</p>
                      <p class="fs-0 text-600">- Liam Martens</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-nav">
                  <div class="swiper-button-next swiper-button-white"></div>
                  <div class="swiper-button-prev swiper-button-white"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section> close ============================-->
      <!-- <section> begin ============================-->
      <section class="light">
        <div class="bg-holder overlay" style="background-image:url(../static/assets/img/generic/bg-2.jpg);background-position: center top;">
        </div>
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-8">
              <p class="fs-3 fs-sm-4 text-white">Join our community of landlords on their mission to build a better portfolio and drive revenue.</p>
              <button class="btn btn-outline-light border-2 rounded-pill btn-lg mt-4 fs-0 py-2" type="button">Build your portfolio</button>
            </div>
          </div>
        </div>
      </section>
      <!-- <section> close ============================-->
      <!-- <section> begin ============================-->
      <section class="bg-dark pt-8 pb-4 light">
        <div class="container">
          <div class="position-absolute btn-back-to-top bg-dark"><a class="text-600" href="#banner" data-bs-offset-top="0" data-scroll-to="#banner"><span class="fas fa-chevron-up" data-fa-transform="rotate-45"></span></a></div>
          <div class="row">
            <div class="col-lg-4">
              <h5 class="text-uppercase text-white opacity-85 mb-3">Our Mission</h5>
              <p class="text-600">Falcon enables landlords to build custom portfolios in a matter of hours, while it eases all the property management tasks needed to maintain their properties. Through enhanced reports that provide in-depth analytics of each property and a birds eye dashboard of each portfolio Falcon is a one stop spot for all of your landlord needs.</p>
              <!--<div class="icon-group mt-4"><a class="icon-item bg-white text-facebook" href="#!"><span class="fab fa-facebook-f"></span></a><a class="icon-item bg-white text-twitter" href="#!"><span class="fab fa-twitter"></span></a><a class="icon-item bg-white text-google-plus" href="#!"><span class="fab fa-google-plus-g"></span></a><a class="icon-item bg-white text-linkedin" href="#!"><span class="fab fa-linkedin-in"></span></a><a class="icon-item bg-white" href="#!"><span class="fab fa-medium-m"></span></a></div>-->
            </div>
            <div class="col ps-lg-6 ps-xl-8">
              <div class="row mt-5 mt-lg-0">
                <div class="col-6 col-md-3">
                  <h5 class="text-uppercase text-white opacity-85 mb-3">Company</h5>
                  <ul class="list-unstyled">
                    <li class="mb-1"><a class="link-600" href="#!">About</a></li>
                    <li class="mb-1"><a class="link-600" href="#!">Contact</a></li>
                    <li class="mb-1"><a class="link-600" href="#!">Careers</a></li>
                    <li class="mb-1"><a class="link-600" href="#!">Blog</a></li>
                    <li class="mb-1"><a class="link-600" href="#!">Terms</a></li>
                    <li class="mb-1"><a class="link-600" href="#!">Privacy</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <h5 class="text-uppercase text-white opacity-85 mb-3">Product</h5>
                  <ul class="list-unstyled">
                    <li class="mb-1"><a class="link-600" href="#!">Features</a></li>
                    <li class="mb-1"><a class="link-600" href="#!">Roadmap</a></li>
                    <li class="mb-1"><a class="link-600" href="#!">Changelog</a></li>
                    <li class="mb-1"><a class="link-600" href="#!">Pricing</a></li>
                    <li class="mb-1"><a class="link-600" href="#!">Docs</a></li>
                  </ul>
                </div>
                <div class="col mt-5 mt-md-0">
                  <h5 class="text-uppercase text-white opacity-85 mb-3">From the Blog</h5>
                  <ul class="list-unstyled">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section> close ============================-->
      <!-- <section> begin ============================-->
      <section class="py-0 bg-dark light">
        <div>
          <hr class="my-0 text-600 opacity-25" />
          <div class="container py-3">
            <div class="row justify-content-between fs--1">
              <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600 opacity-85">Thank you for building with Falcon <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2022 &copy; <a class="text-white opacity-85" href="#">Carriveau LLC</a></p>
              </div>
              <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600 opacity-85">v0.0.1</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section> close ============================-->
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <script src="../static/vendors/popper/popper.min.js"></script>
    <script src="../static/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../static/vendors/anchorjs/anchor.min.js"></script>
    <script src="../static/vendors/is/is.min.js"></script>
    <script src="../static/vendors/swiper/swiper-bundle.min.js"> </script>
    <script src="../static/vendors/typed.js/typed.js"></script>
    <script src="../static/vendors/fontawesome/all.min.js"></script>
    <script src="../static/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="../static/vendors/list.js/list.min.js"></script>
    <script src="../static/assets/js/theme.js"></script>
  </body>
</html>