{% extends "base.html" %} 

{% block content %} 

{% if property %}

<!-- PROPERTY HEADER SECTION -->

<div class="card mb-3">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h5 class="mb-2">{{ property.name }}</h5>
        </div>
        <div class="col-auto d-none d-sm-block">
          <h6 class="text-uppercase text-600">Property<span class="fas fa-building ms-2"></span></h6>
        </div>
      </div>
    </div>
    <div class="card-body border-top">
      <div class="d-flex"><span class="fas fa-building text-primary me-2" data-fa-transform="down-5"></span>
        <div class="flex-1">
          <p class="fs--1 mb-0 text-600">Property owned since</p>
          <p class="fs--1 mb-0 text-600">Jan 12, 2022</p>
        </div>
      </div>
    </div>
</div>

<!-- PROPERTY DETAILS SECTION -->

<div class="card mb-3">
<div class="card-header">
    <div class="row align-items-center">
    <div class="col">
        <h5 class="mb-0">Property Details</h5>
    </div>
    <div class="col-auto"><a class="btn btn-falcon-default btn-sm" href="{{ url_for('property.edit', id=property.id) }}"><span class="fas fa-pencil-alt fs--2 me-1"></span>Update details</a></div>
    </div>
</div>
<div class="card-body bg-light border-top">
    <div class="row">
    <div class="col-lg col-xxl-5">
        <div class="row">
        <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-1">Bedrooms</p>
        </div>
        <div class="col">{{ units | sum(attribute='bedrooms') }}</div>
        </div>
        <div class="row">
        <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-1">Bathrooms</p>
        </div>
        <div class="col">{{ units | sum(attribute='bathrooms') }}</div>
        </div>
        <div class="row">
          <div class="col-5 col-sm-4">
              <p class="fw-semi-bold mb-1">Units</p>
          </div>
          <div class="col">{{ units|length }}</div>
          </div>
    </div>
    <div class="col-lg col-xxl-5 mt-4 mt-lg-0 offset-xxl-1">
        <div class="row">
        <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-1">Address</p>
        </div>
        <div class="col">
            <p class="mb-1">{% if property.address %}{{ property.address }}{% endif %}<br />{% if property.city %}{{ property.city }},{% endif %} {% if property.state %}{{ property.state }}{% endif %} {% if property.zip_code %}{{ property.zip_code }}{% endif %}</p>
        </div>
        </div>
        <div class="row">
        <div class="col-5 col-sm-4">
            <p class="fw-semi-bold mb-1"></p>
        </div>
        <div class="col"></div>
        </div>
        <div class="row">
          <div class="col-5 col-sm-4">
              <p class="fw-semi-bold mb-1">Property Type</p>
          </div>
          <div class="col">{% if property.type %}{{ property.type }}{% endif %}
          </div>
        </div>
    </div>
    </div>
</div>
<div class="card-footer border-top text-end"></div>
</div>

<!-- END PROPERTY DETAILS SECTION -->

<!-- PROPERTY FINANCE DETAILS SECTION -->
{% if units %}
<div class="card mb-3">
  <div class="card-header">
      <div class="row align-items-center">
      <div class="col">
          <h5 class="mb-0">Property Finances</h5>
      </div>
      <div class="col-auto"><a class="btn btn-falcon-default btn-sm" href="{{ url_for('property.finances', id=property.id) }}"><span class="fas fa-pencil-alt fs--2 me-1"></span>More details</a></div>
      </div>
  </div>
  <div class="card-body bg-light border-top">
      <div class="row">
        <div class="col-lg col-xxl-5">
            <div class="row">
              <div class="col-7 col-sm-6">
                  <p class="fw-semi-bold mb-1">Monthly Rent</p>
              </div>
              <div class="col">${{ units | sum(attribute='rent')}}</div>
            </div>
            <div class="row">
              <div class="col-7 col-sm-6">
                  <p class="fw-semi-bold mb-1">Quarterly Revenue</p>
              </div>
              <div class="col">${{ units | sum(attribute='rent') * 4}}</div>
            </div>
            <div class="row">
              <div class="col-7 col-sm-6">
                  <p class="fw-semi-bold mb-1">Yearly Revenue</p>
              </div>
              <div class="col">${{ units | sum(attribute='rent') * 12}}
              </div>
            </div>
        </div>
        <div class="col-lg col-xxl-5 mt-4 mt-lg-0 offset-xxl-1">
            <div class="row">
            <div class="col-6 col-sm-5">
                <p class="fw-semi-bold mb-1">Rent Unit/AVG</p>
            </div>
            <div class="col">
                <p class="mb-1">
            </div>
            </div>
            <div class="row">
            <div class="col-6 col-sm-5">
                <p class="fw-semi-bold mb-1"></p>
            </div>
            <div class="col"></div>
            </div>
            <div class="row">
            <div class="col-6 col-sm-5">
                <p class="fw-semi-bold mb-0"></p>
            </div>
            <div class="col">
                <p class="fw-semi-bold mb-0"></p>
            </div>
            </div>
            <div class="row">
            <div class="col-7 col-sm-6">
                <p class="fw-semi-bold mb-1"></p>
            </div>
            <div class="col"></div>
            </div>
        </div>
      </div>
  </div>
  <div class="card-footer border-top text-end"></div>
</div>
<!-- END PROPERTY FINANCE DETAILS SECTION -->
{% endif %}
<!-- UNITS TABLE FOR PROPERTY -->

<div class="card mb-3" id="unitsTable" data-list='{"valueNames":["name","email","phone","address","joined"],"page":10,"pagination":true}'>
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
        <h5 class="mb-0">Units</h5>
      </div>
      <div class="col-8 col-sm-auto text-end ps-2">
        <div class="d-none" id="table-units-actions">
          <div class="d-flex">
            <select class="form-select form-select-sm" aria-label="Bulk actions">
              <option selected="">Bulk actions</option>
              <option value="Refund">Refund</option>
              <option value="Delete">Delete</option>
              <option value="Archive">Archive</option>
            </select>
            <button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button>
          </div>
        </div>
        <div id="table-units-replace-element">
          <a class="btn btn-falcon-default btn-sm" href="{{ url_for('unit.create', id=property.id) }}"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">New</span></a>
          <button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Filter</span></button>
          <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Export</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive scrollbar">
      <table class="table table-hover table-striped overflow-hidden">
        <thead>
          <tr>
            <th scope="col">Actions</th>
            <th scope="col">Name</th>
            <th scope="col">Bedrooms</th>
            <th scope="col">Bathrooms</th>
            <th scope="col">Sq Ft</th>
            <th scope="col">Rent</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for unit in units %}
          <tr class="align-middle">
            <td class="text-nowrap">
              <div>
                  <a class="btn p-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" href="{{ url_for('unit.show', id=unit.id) }}"><span class="text-500 fas fa-edit"></span></a>
                  <a class="btn p-0 ms-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Details" href="{{ url_for('unit.show', id=unit.id) }}"><span class="text-500 fas fa-caret-up"></span></a>
              </div>
            </td>
            <td class="text-nowrap">
              <div class="d-flex align-items-center">
                <div class="ms-2">{{ unit.name }}</div>
              </div>
            </td>
            <td class="text-nowrap">{{ unit.bedrooms }}</td>
            <td class="text-nowrap">{{ unit.bathrooms }}</td>
            <td class="text-nowrap">{{ unit.sqft }}</td>
            <td class="text-nowrap">$ {{ unit.rent }}</td>
            <td>
              {% set unit_status = unit.get_lease_status() %}
              {% if unit_status == 'Occupied' %}
                <span class="badge badge rounded-pill d-block p-2 badge-soft-success">Occupied<span class="ms-1 fas fa-user" data-fa-transform="shrink-2"></span></span>
              {% elif unit_status == 'Reserved' %}
                <span class="badge badge rounded-pill d-block p-2 badge-soft-info">Reserved<span class="ms-1 fas fa-calendar" data-fa-transform="shrink-2"></span></span>
              {% else %}
                <span class="badge badge rounded-pill d-block p-2 badge-soft-warning">Available<span class="ms-1 fas fa-home" data-fa-transform="shrink-2"></span></span>
              {% endif %}
            </td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer d-flex align-items-center justify-content-center">
    <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
    <ul class="pagination mb-0"></ul>
    <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
  </div>
</div>

<!-- LEASES TABLE FOR PROPERTY -->

<div class="card mb-3" id="leasesTable" data-list='{"valueNames":["name","email","phone","address","joined"],"page":10,"pagination":true}'>
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
        <h5 class="mb-0">Leases</h5>
      </div>
      <div class="col-8 col-sm-auto text-end ps-2">
        <div class="d-none" id="table-leases-actions">
          <div class="d-flex">
            <select class="form-select form-select-sm" aria-label="Bulk actions">
              <option selected="">Bulk actions</option>
              <option value="Refund">Refund</option>
              <option value="Delete">Delete</option>
              <option value="Archive">Archive</option>
            </select>
            <button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button>
          </div>
        </div>
        <div id="table-leases-replace-element">
          <a class="btn btn-falcon-default btn-sm" href="{{ url_for('lease.create', id=property.id) }}"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">New</span></a>
          <button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Filter</span></button>
          <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Export</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive scrollbar">
      <table class="table table-hover table-striped overflow-hidden">
        <thead>
          <tr>
            <th scope="col">Actions</th>
            <th scope="col">Tenant</th>
            <th scope="col">Unit</th>
            <th scope="col">Rent</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col" class="text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for lease in leases %}
          <tr class="align-middle">
            <td class="text-nowrap">
              <div>
                  <a class="btn p-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" href=""><span class="text-500 fas fa-edit"></span></a>
                  <a class="btn p-0 ms-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Details" href="{{ url_for('lease.show', id=lease.Lease.id) }}"><span class="text-500 fas fa-caret-up"></span></a>
              </div>
            </td>
            <td class="text-nowrap">
              <div class="d-flex align-items-center">
                <div class="ms-2">{{ lease.Tenant.first_name }} {{ lease.Tenant.last_name }}</div>
              </div>
            </td>
            <td class="text-nowrap">{{ lease.Unit.name }}</td>
            <td class="text-nowrap">${{ lease.Lease.rent }}</td>
            <td class="text-nowrap">{{ lease.Lease.start.strftime('%m-%d-%Y') }}</td>
            <td class="text-nowrap">{{ lease.Lease.end.strftime('%m-%d-%Y') }}</td>
            {% set days = (lease.Lease.end - lease.Lease.start).days %}
            {% if lease.Lease.end > today > lease.Lease.start %}
            <td><span class="badge badge rounded-pill d-block p-2 badge-soft-success">Active<span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span></td>
            {% elif lease.Lease.end > today < lease.Lease.start %}
            <td><span class="badge badge rounded-pill d-block p-2 badge-soft-warning">Upcoming<span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span></td>
            {% else %}
            <td><span class="badge badge rounded-pill d-block p-2 badge-soft-danger">Expired<span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span></td>
            {% endif %} 
          </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer d-flex align-items-center justify-content-center">
    <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
    <ul class="pagination mb-0"></ul>
    <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
  </div>
</div>

{% else %} 

<!-- IF PROPERTY NOT FOUND SHOW THIS SECTION -->

<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-4">No property found!</h5><a class="btn btn-falcon-default btn-sm" href="{{ url_for('property.create') }}"><span class="fas fa-plus fs--2 me-1"></span>Create Property</a>
    </div>
</div>
{% endif %} 



{% endblock %}

